*,*::after::before{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
#fondo{
    width: 100%;
    height: 100%;
    background-color: grey;
    position: fixed;
    opacity: 75%;
    z-index: 500;
}
#detalles{
    margin-top: 10vh;
    padding: 3%;
    align-self: center;
    position: fixed;
    height: max-content;
    width: 40vw;
    z-index: 501;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 50px;
}
